@import "datatables.net-bs5";
@import "datatables.net-buttons-bs5";
@import "datatables.net-responsive-bs5";
@import "datatables.net-scroller-bs5";
//@import "select2";
//@import "flatpickr";


#laravel-admin-tools {
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  position: absolute;
  transform: translateX(-100%);
  transition: .7s;

  &.is-open {
    transform: translateX(0%);
    transition: .7s;
  }
}

//Select2 fix for new button displaying a button
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  background-color: transparent;
  padding: 0;
  border: none;
}

div.dataTables_wrapper,
div.dataTables_wrapper.dt-bootstrap5 {

  div.dataTables_filter {
    text-align: left!important;
  }

  div.dataTables_filter input {
    margin-left: 0;
  }

  #dt_consent_options_datatables.dataTable td {
    padding: 0.75rem 0 !important;
  }
}

div.dataTables_wrapper.dt-bootstrap5 div.dataTables_processing {
  font-size: 1.25rem !important;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: auto;
  padding: 1em;
  margin-left: 0;
  margin-top:0;
  text-align: center;
  opacity: 0.8;
  top: initial;
}
div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0!important;
}

.alert-dismissible a[data-notify="dismiss"] {
  position: absolute;
  top:-10px;
  right:0px
}
//Fix select2 dismiss button styling
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  background-color: transparent;
  padding: 0;
  border: none;
}

.form-check-input,
.form-check-label {cursor: pointer;}